# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
# .env
# .env.*.local
# .env.local

# Build output
dist/
build/
out/
coverage/
.cache/
.next/

# IDEs and editors
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Database files
*.sqlite
*.sqlite3
*.db

# Misc
*.tgz
.env
