# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

services:
  peer0.org1.example.com:
      container_name: peer0.org1.example.com
      image: hyperledger/fabric-peer:latest
      labels:
        service: hyperledger-fabric
      environment:
        # CHANGE THIS LINE:
        - CORE_VM_ENDPOINT=tcp://host.docker.internal:2375
        - DOCKER_HOST=tcp://host.docker.internal:2375
        - CORE_VM_DOCKER_HOSTCONFIG_NETWORKMODE=fabric_test
        - DOCKER_API_VERSION=1.52
        - COMPOSE_API_VERSION=1.52
      volumes:
        - ./docker/peercfg:/etc/hyperledger/peercfg
        # DELETE OR COMMENT OUT THE LINE BELOW:
        # - ${DOCKER_SOCK}:/host/var/run/docker.sock

  peer0.org2.example.com:
      container_name: peer0.org2.example.com
      image: hyperledger/fabric-peer:latest
      labels:
        service: hyperledger-fabric
      environment:
        # CHANGE THIS LINE:
        - CORE_VM_ENDPOINT=tcp://host.docker.internal:2375
        - DOCKER_HOST=tcp://host.docker.internal:2375
        - CORE_VM_DOCKER_HOSTCONFIG_NETWORKMODE=fabric_test
        - DOCKER_API_VERSION=1.52
        - COMPOSE_API_VERSION=1.52        
      volumes:
        - ./docker/peercfg:/etc/hyperledger/peercfg
        # DELETE OR COMMENT OUT THE LINE BELOW:
        # - ${DOCKER_SOCK}:/host/var/run/docker.sock